.container {
  position: relative;
  display: flex;
  place-content: center space-between;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid rgb(128 128 128 / 56%);
  border-radius: 5px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.favoriteButton {
  top: 1rem;
  right: 1rem;
  padding: 0.4rem 1rem;
  background-color: #028002;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #fcfcfc;
  transition: color 0.3s ease;
  cursor: pointer;

  &.active {
    background-color: #910303;
    color: #fcfcfc;
  }
}
