.container,
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f3f1f1;
  border-radius: 5px;
}

.input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid rgb(128 128 128 / 43%);
  color: #020202;
  outline: none;
}
